.no-dropdown:hover {
  color: #2b87ba;
}

/* hover to expand drop-down */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  color: gray;
}

/* Change the cursor on hover*/
.nav-item.dropdown:hover .nav-link.dropdown-toggle {
  cursor: default;
}

/* Black drop-down menu*/
.nav-item.dropdown .dropdown-menu {
  background-color: #212529;
}

/* Gray drop-down text */
.nav-item.dropdown .dropdown-menu .dropdown-item {
  color: gray;
}

/* Blue drop-down text on hover */
.nav-item.dropdown .dropdown-menu .dropdown-item:hover,
.nav-item.dropdown .dropdown-menu .dropdown-item:focus {
  color: #2b87ba;
  background-color: transparent;
}

/* Blue text on active */
.active {
  color: #2b87ba;
}
